<?xml version="1.0"?>
<launch>

<arg name="meshfile" default="$(find uos_gazebo_worlds)/Media/models/avz_neu.dae" />




<node pkg="rmagine_ros" type="mesh_publisher" name="mesh_publisher" output="screen">
    <param name="file" type="string" value="$(arg meshfile)" />
    <param name="frame" type="string" value="map" />
</node>


</launch>
