<?xml version="1.0"?>
<launch>

<arg name="map" default="tray" description="map name. Choose between 'cube', 'cylinder', 'floor', 'sphere', 'tray', 'trays', 'avz'" />
<arg name="config" default="$(find-pkg-share rmcl_ros)/config/rmcl.yaml" description="path to config file. You can find examples at rmcl_examples/config" />

## launch-prefix="xterm -e gdb --args" 
<node pkg="rmcl_ros" exec="rmcl_localization_node" name="rmcl_localization_node" output="screen" >
    <param name="use_sim_time" value="true" />
    <param from="$(var config)" />
    <param name="map_server.map.source" value="$(find-pkg-share rmcl_examples_maps)/maps/$(var map).dae" />

    <!-- remap default topic to topic where the initial pose is published -->
    <remap from="pose_wc" to="/initialpose" />
    <remap from="points" to="/lidar3d/points" />
</node>

</launch>
